*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
main{
  margin: 20px;
}

header{
  height: 70px;
  background-color: rgb(144, 75, 207);
  margin-top: 2%;
  margin: 20px;
}
.img{
  height: 400px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color:rgb(226, 226, 100);
}
.row{
  background-color: rgb(133, 133, 255);
  height: 50px;
  margin-bottom: 2%;
}
.col{
  float: left;
  background-color:rgb(133, 133, 255);
 
}
.col.sx{
  height: 500px;
  width: 200px;
  margin-right: 30px;
}
.col.dx{
  float: right;
  height: 500px;
  margin-left: 30px;
  width:200px;
}
.col.center{
  height: 500px;
  width: 763px;
}
footer{
  height: 40px;
  background-color: purple;
  margin-bottom: 10px;
  margin: 20px;
}